SNOWFLAKE_ACCOUNT=tu_identificador_de_cuenta
SNOWFLAKE_DATABASE=nombre_de_tu_base_de_datos
SNOWFLAKE_USER=tu_usuario
SNOWFLAKE_PASSWORD=tu_contrasena
SNOWFLAKE_WAREHOUSE=nombre_de_tu_warehouse
SNOWFLAKE_SCHEMA=nombre_de_tu_esquema
URI_ATLAS=tu_cadena_de_conexion_mongodb